.Logo{
  max-height: 40px;
  max-width: 60px;
}
.cornavbar{
  background-image: linear-gradient(to right, rgb(7, 124, 96), rgb(7, 117, 5));
}
@media screen and (max-width: 500px) {
  .offcanvas {
    max-width: 230px;
  }
}
.selected {
  color: rgb(5, 100, 90);
}
