<style>
  @import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;1,300&display=swap');
</style>
<nav class="navbar shadow navbar-dark cornavbar fixed-top" *ngIf="navbarService.visibilidadeNavBar">
  <div class="container-fluid">
    <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasExample"
      aria-controls="offcanvasExample">
      <span class="navbar-toggler-icon"></span>
    </button>
    <a routerLink="" style="text-decoration: none; color: rgb(220, 221, 223); font-size: 30px; font-family: 'Ubuntu', sans-serif;">
      ManterCursos
    </a>
    <a routerLink="">
      <img [src]="LogoPath" class="Logo">
    </a>
  </div>
</nav>

<div class="offcanvas offcanvas-start d-flex flex-column flex-shrink-0 p-3 bg-light" tabindex="-1" id="offcanvasExample"
  aria-labelledby="offcanvasExampleLabel" style="width: 280px;">
  <ul class="nav nav-pills flex-column mb-auto">
    <li class="nav-item">
      <a class="nav-link link-dark" routerLink="/Cursos" data-bs-dismiss="offcanvas" *ngIf="navbarService.visibilidadeOpcoes">
        <i class="bi bi-card-list"></i>
        Cursos
      </a>
    </li>
  </ul>
</div>

<router-outlet></router-outlet>


